/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 1240px;
    margin: 0 auto;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    
}
.header{
    text-align: center;
    height: 18dvh;
    
}

.logo-header{
    width: 3rem;
    height: 3rem;
    border-radius: 15%;
    margin-top: 1rem;
}

.nav-bar-container{
    display: flex;
    justify-content: center;
}

.nav-bar{
    display: flex;
    
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 6rem;
    margin-bottom: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: #000000;
    
} 

.nav-list a:hover {
    color: #ff5733;
    transition: .2s ease;
    
    
} 

.home{
    height: calc(100dvh - 11.5rem);
}

.home a{
    margin: 0 auto;
    margin-top: 3.2rem;
    
}

.read-more-btn{
    display: flex;
    background-color: #ffffff;
    color: #000000;
    height: 6rem;
    width: 12rem;
    text-decoration:none ;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.read-more-btn:hover{
    background-color: #ff5733;
    color: #ffffff;
    border: #ff5733;
    transition: 0.5s ease;
}
.about-us{
    display: flex;
    justify-content: space-evenly;
    height: 100dvh;
    
    
}

.about-us-container a{
    padding: 1rem;
    margin: 1.2rem;
    margin-left: 3rem;
}

.about-us img{
    width: 25rem;
    height: 25rem;
    box-shadow: .1rem 0rem .6rem  rgba(0, 0, 0, 0.461);
    border-radius: 5rem 12rem 5rem 12rem;
    margin-top: 4rem;
    
}
.about-us a{
    margin-top: 2rem;
    right: 100rem;
}
h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 2rem;

}

.home-text{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
}

.text{
    font-family: "Poppins", sans-serif;
    max-width: 25rem;
    font-size: 1.2rem;
    text-indent: .6rem;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.services img{
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
}
.services-box-container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.service-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
    width: 20rem;
    justify-content: center;
}

.services p{
    font-size: .85rem;
    margin-top: .8rem;
}

.services h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #ff5733;

}

footer {
    background-color: #202020;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
        
.footer-content,
.footer-about,
.footer-services {
    margin-bottom: 20px;
}
    
.footer-content h2,
.footer-about h2,
.footer-services h2 {
    font-size: 1.6em;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 15px;
    color: #ff5733;
    font-weight: 700;
}
    
.footer-content ul,
.footer-about ul,
.footer-services ul {
    list-style-type: none;
    padding: 0;
}
    
.footer-content li,
.footer-about li,
.footer-services li {
    margin: 10px 0;
}
    
.footer-content a,
 .footer-about a,
.footer-services a {
    color: #888888;
    text-decoration: none;
 transition: color 0.3s ease;
}
    
.footer-content a:hover,
.footer-about a:hover,
.footer-services a:hover {
    color: #ff5733;
}
    
.footer-rights {
    margin-top: 30px;
    font-size: 0.9em;
    color: #888888;
}

/*Formulario de contacto*/
.contact-section {
    padding: 2rem;
    background-color: #ffffff;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
  
.contact-section h2 {
    font-size: 2.5rem;
    color: #ff5733;
    margin-bottom: 1rem;
}
  
.contact-section p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 2rem;
}
  
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
  
.form-group {
    text-align: left;
}
  
.form-group label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
}
  
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}
  
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #ff5733;
}
  
.submit-btn {
    background-color: #ff5733;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.submit-btn:hover {
    background-color: #cc4628;
}

/*Apartado Ayuda*/
.help-section {
    padding: 2rem;
    background-color: #ffffff;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.help-section h2 {
    font-size: 2.5rem;
    color: #ff5733;
    margin-bottom: 1rem;
}
  
.help-section p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.5rem;
}
  
.download-btn {
    display: inline-block;
    background-color: #ff5733;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.download-btn:hover {
    background-color: #cc4628;
}

/*Responsive*/
@media (max-width: 1024px) {
    .nav-list {
        flex-direction: row;
        gap: 1rem;
    }
    .about-us {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        height: 100dvh;
    }
    .about-us img {
        width: 18rem;
        height: 18rem;
        margin: 2rem 0;
    }
    .services-box-container {
        flex-direction: column;
        gap: 2rem;
    }
    .service-box {
        width: 100%;
    }
    
    .about-us-container a{
        margin-left: 6.8rem ;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    .home {
        padding: 1rem;
    }
    .home-text {
        font-size: 5rem; 
    }
    .about-us img {
        width: 18rem;
        height: 18rem;
    }
    .services img {
        width: 2.5rem;
        height: 2.5rem;
    }
    .read-more-btn {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }
    footer {
        text-align: left;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .nav-list {
        font-size: 0.9rem;
    }

    .header{
        height: 10dvh;
    }
    
    .about-us {
        padding: 1rem;
    }
    .about-us img {
        width: 15rem;
        height: 15rem;
    }
    .service-box {
        width: 100%;
    }
    h2 {
        font-size: 2.5rem;
    }
    .footer-content h2,
    .footer-about h2,
    .footer-services h2 {
        font-size: 1.2rem;
    }
    .footer-content p,
    .footer-about p,
    .footer-services p {
        font-size: 0.8rem;
    }
}

@media (max-width: 430px){
    .nav-list{
        margin-top: 5rem;
    }

    .home-text {
        font-size: 4rem; 
    }

    .nav-list {
        font-size: 0.7rem;
    }
}

@media (max-width: 393px){
    .services h2,
    .about-us h2{
        font-size: 2rem;
    }

    
}